body {
    background-color: lightskyblue;;
}
header {
margin: 0%;
display: flex;
justify-content: space-around;
border-bottom: 2px solid white;
padding: 3px;
font-size: 35px;
}
div.1{
    font-weight: bold;
}