body {
    background-color: lightskyblue;;
}
header {
margin: 0%;
display: flex;
justify-content: space-around;
border-bottom: 4px solid white;
padding: 3px;
font-size: 40px;
}
div.a {
    font-weight: bold;
}
div.d {
    margin-right: 500px;
}